[submodule "libs/embassy"]
	path = libs/embassy
	url = https://github.com/embassy-rs/embassy/
[submodule "libs/async-gcode"]
	path = libs/async-gcode
	url = https://github.com/cbruiz/async-gcode.git
[submodule "libs/unix-fifo-async"]
	path = libs/unix-fifo-async
	url = https://github.com/cbruiz/unix-fifo-async.git
